*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    
  
   
}

/**Boot CSS**/

html,body{
   
    margin: 0;
    background: #fff;
    min-height: 100vh;
    background:linear-gradient( to right bottom ,#00FF00 ,  #00FFFF );
    background-repeat: no-repeat;
    
   


}

input{
    border: 2;
}


img{
    width: 100%;
    max-width: 400px;
}


.center{
    max-width: 1280px;
    padding:0 2%;
    margin:0 auto;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

.w50{
    padding:0 10px;
    width: 50%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/*******************************************************************/



header{
border-bottom: 10px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
  position: fixed;   /* fixar menu heade no Topo*/
   width: 100%;
   height: 70px;
  margin: 0px;
   z-index: 2;  /* posiçao  em primeiro luga no topo*/
    background: #000000

   
    }



.logo a{
  
    text-decoration: none; /* tira o anderline  barra*/ 
    color: white;
    font-weight: 700;  /* tamanho negrito */
    text-transform: uppercase;
    font-size: 23px;
    left: 20;
    
}

nav.mobile{
        display: none;

    }


/******************************DESKTOP****************************************/


nav.desktop ul{

    position: relative;
    top:6px;
    list-style-type: none;
}

nav.desktop li{
    
    font-weight: 700;  /* tamanho negrito */
    font-size: 17px; /* tamanho da fonte */
    padding:10px 10px;  /* aulta e largura */
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    transition: 1s; /* efeitos vermelho */
    color: white;
    text-decoration: none;
}

nav.desktop a:hover{
    color: red;
    text-decoration: underline;
}


/****************************** FIM DESKTOP****************************************/


 #container-titulo-ID{  /* <section class="especialidades"> */
    padding:30px 0px;
    /*display: inline-block; */
    text-align: center;
}

#central-ID-titulo1{
    margin:10px;
    padding: 0 120px;  /* espaçamendo dos itens pros lados*/
    display: inline-block;
}


#descriçao-titulo{
    padding: 1%;  /* tamanho das pordas*/
     border: 7px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   background: #000000;
    font-size: 20px;
 margin-top: 0px;
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
    text-align: center;
}

.card-titulo1{
    text-align: center;
   color: #FFF; /* cor da fonte*/
    border-radius: 5px ; /* formato redondo*/
    background: #000000; 
     border-bottom: 5px solid #FF0000; /* deixa botão em 3D  e com borda*/ 

}



/*************************************************************************/





 #container-pedidos-ID{  /* <section class="especialidades"> */
    padding: 10px 0;
    display: inline-block;
}


#central-ID{
    margin:10px;
    padding: 0 120px;  /* espaçamendo dos itens pros lados*/
    display: inline-block;
}


#descriçao{
    padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
   background: #000000;
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
    text-align: center;
}


.card{
    border-radius: 10px;
width: 300px;
height: 350px;
background-color: #F8F8FF;
 box-shadow: 25px 10px 8px #000000;
 text-align: center;

}
/*
        .card{
    

    border-radius:5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    width:300px;
    margin:20px; 
    transition: all 0.3s ease-out;
    background-color:white;
    padding:20px;
    margin-bottom:20px;
    display:flex;
    display: inline-block;
    text-align:left;
    
    
    }

    */
  
    #foto{

max-width: 250%;
width:  250px; 
height: 210px; 

}

img:hover{
    border: 10px solid #FF0000;  /* ao colocar cursor em cima da foto as bordas fica vermelha*/
}


 
  @media screen and (max-width: 700px){

.w50{
    padding:0 10px;
    width: 50%;
}


header{
    border-bottom: 10px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
    padding:30px 0;
    background: #000000

}

header .logo {
   
    text-transform: uppercase;
  
     }

/**********************LOGO******************************************/

.logo a{
    text-decoration: none;
     font-size:25px;  /* tamanho da fone da logo */
    color: white;
  text-align: center;  
}


/********************************FIM LOGO*******************************/


/*****************************FIM-HEADER****************************/

    nav.desktop{
        display: none;
    }

/*********************BOTAO MOBILE ************************************/

nav.mobile{
        display: block;
    }


.botao-menu-mobile{
    font-size: 24px;
     cursor: pointer;
        color: white;
}

nav.mobile  ul{

        top: 60px;
        z-index: 2;
        position: absolute;
        left: 0;
        width: 100%;   /* tamanho  das bordas do menu */
        display: none;
        text-align: center;
       
       
    }

     nav.mobile li{

        font-weight: 700; /* fonte */ 
        width: 100%;
        display: block;
        background: black;
        border-bottom: 10px solid #F8F8FF; /* deixa botão em 3D  e com borda*/ 

        font-size: 17px;
        padding:8px 0;  /* tamanho das bolas*/
        border-radius: 100px ; /* formato redondo*/

        /*  width: fit-content;  /* alargura vai se adapta ao conteudo*/ 
      /*  padding: 0x 0px;  /* almenta borda*/


    }

     nav.mobile li a{
       display: block;
        color: #FFF;
        text-decoration: none;
}



/*********************FIM BOTAO MOBILE************************************/



    #container-titulo-ID{  /* <section class="especialidades"> */
    padding: 10px 0px;
    /*display: inline-block; */
    text-align: center;
}

#central-ID-titulo1{
    margin:0px;
    padding: 0 20px;  /* espaçamendo dos itens pros lados*/
    display: inline-block;
}

#descriçao-titulo{
    padding: 1%;  /* tamanho das pordas*/
     border: 7px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   background: #000000;
    font-size: 20px;
    margin-top: 100px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
    text-align: center;
}

.card-titulo1{
    text-align: center;
   color: #FFF; /* cor da fonte*/
    border-radius: 5px ; /* formato redondo*/
    background: #000000; 
     border-bottom: 5px solid #FF0000; /* deixa botão em 3D  e com borda*/ 

}



/*************************************************************************/


    #container-pedidos-ID{
    padding: 0px 2px;  /*altura dos cards*/
  
    
}

     

    #central-ID{
    margin: 0px;
    padding: 0 0px ;  /* alturas das bolsas*/
    flex-direction: column; /* deixa o texto em coluna*/
}


.card{
 
width: 176px;
height: 290px;
background-color: #F8F8FF;
border-radius: 5px;
 box-shadow: 25px 10px 8px #000000;
 text-align: center;

}

    #foto{

    max-width: 100%;
    width:  220px;  /* largura*/
    height: 220px;
     padding: 0px;
     border: 3px solid #F8F8FF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
     
    }

    #descriçao{

        padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
   background: #000000;
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
 
}



img:hover{
    border: 10px solid #FF0000;  /* ao colocar cursor em cima da foto as bordas fica vermelha*/
}

  }
