section.capa{  /* <section class="especialidades"> */
    padding: 40px 0;

    
}

section.capa h2.title{ /*  <h2 class="title">CARREGADOR PARA CELULAR</h2> */
      text-align: center;
     font-size: 30px;
   color: #FFF; /* cor da fonte*/
    padding: 0px 10px;  /* almenta borda*/
    border-radius: 20px ; /* formato redondo*/
    background: #363636; 
     border-bottom: 5px solid #0000CD; /* deixa botão em 3D  e com borda*/ 

}

.box-capa {
    margin:30px 0;
    padding: 0 130px;  /* espaçamendo dos itens pros lados*/
    flex-direction: column; /* deixa o texto em coluna*/
    
}

.box-capa h4{

    font-size: 15px;   /* tamanho da fonte */
    color: #FFF;
    
  }




.card{
  
border-radius: 10px;
width: 250px;
height: 300px;
background-color: #0000FF;
 box-shadow: 25px 10px 8px #000000;

}





/********************************CAPA FIM***************************************/



    section.caixa{  /* <section class="especialidades"> */
    padding: 40px 0;

    
}

section.caixa h2.title{ /*  <h2 class="title">CARREGADOR PARA CELULAR</h2> */
    font-size: 30px;
   color: #FFF; /* cor da fonte*/
    padding: 0px 10px;  /* almenta borda*/
    border-radius: 20px ; /* formato redondo*/
    background: #363636; 
     border-bottom: 5px solid #0000CD; /* deixa botão em 3D  e com borda*/ 
}

.box-caixa {
    margin:30px 0;
    padding: 0 130px;  /* espaçamendo dos itens pros lados*/
    flex-direction: column; /* deixa o texto em coluna*/
    
}


.box-caixa h4{


    font-size: 15px;   /* tamanho da fonte */
    color: #FFF;
    
  }

.box-caixa p{
   
    padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #0000FF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
    
}



.card-caixa{
  
border-radius: 10px;
width: 250px;
height: 370px;
background-color: #0000FF;
 box-shadow: 25px 10px 8px #000000;

}



/********************************CAIXA FIM***************************************/





/***********************************CARREGADOR INICIO******************************/

section.carregador{  /* <section class="especialidades"> */
    padding: 40px 0;  /* alturas das bolsas*/
}







section.carregador h2.title{ /*  <h2 class="title">CARREGADOR PARA CELULAR</h2> */
   margin: 40px; /* altura das title*/
   font-size: 30px;
    text-align: center;
   color: #FFF; /* cor da fonte*/
     text-align: center;
    /*width: fit-content;  /* alargura vai se adapta ao conteudo*/
    padding: 0px 10px;  /* almenta borda*/
    border-radius: 20px ; /* formato redondo*/
    background: #363636; 
     border-bottom: 5px solid #0000CD; /* deixa botão em 3D  e com borda*/ 
}


.box-carregador{
   margin:30px 0;
    padding: 0 130px;  /* espaçamendo dos itens pros lados*/
    flex-direction: column; /* deixa o texto em coluna*/
    
}



.box-carregador h4{
    font-size: 15px;   /* tamanho da fonte */
    color: #FFF;
 
  }


.box-carregador p{   /*fonte */
   padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #0000FF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
    
}

.card-carreg{
  
border-radius: 10px;
width: 250px;
height: 370px;
background-color: #0000FF;
 box-shadow: 25px 10px 8px #000000;

}


/********************************CARREGADOR FIM***************************************/



/************INICIO MAQUINA***********************/


section.fone{  /* <section class="especialidades"> */
    padding: 40px 0;  /* alturas das bolsas*/
}


section.fone h2.title{ /*  <h2 class="title">CARREGADOR PARA CELULAR</h2> */
   margin: 40px; /* altura das title*/
   font-size: 30px;
    text-align: center;
   color: #FFF; /* cor da fonte*/
     text-align: center;
    /*width: fit-content;  /* alargura vai se adapta ao conteudo*/
    padding: 0px 10px;  /* almenta borda*/
    border-radius: 20px ; /* formato redondo*/
    background: #363636; 
     border-bottom: 5px solid #0000CD; /* deixa botão em 3D  e com borda*/ 
}


.box-fone{
   margin:30px 0;
    padding: 0 130px;  /* espaçamendo dos itens pros lados*/
    flex-direction: column; /* deixa o texto em coluna*/
    
}



.box-fone h4{
    font-size: 15px;   /* tamanho da fonte */
    color: #FFF;
 
  }


.box-fone p{   /*fonte */
   padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #0000FF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
    
}

.card-maquina{
  
border-radius: 10px;
width: 250px;
height: 350px;
background-color: #0000FF;
 box-shadow: 25px 10px 8px #000000;

}



/*************FIM MAQUINA************************/





/************INICIO SUPORTE***********************/

section.fone{  /* <section class="especialidades"> */
    padding: 40px 0;  /* alturas das bolsas*/
}


section.fone h2.title{ /*  <h2 class="title">CARREGADOR PARA CELULAR</h2> */
   margin: 40px; /* altura das title*/
   font-size: 30px;
    text-align: center;
   color: #FFF; /* cor da fonte*/
     text-align: center;
    /*width: fit-content;  /* alargura vai se adapta ao conteudo*/
    padding: 0px 10px;  /* almenta borda*/
    border-radius: 20px ; /* formato redondo*/
    background: #363636; 
     border-bottom: 5px solid #0000CD; /* deixa botão em 3D  e com borda*/ 
}


.box-fone{
   margin:30px 0;
    padding: 0 130px;  /* espaçamendo dos itens pros lados*/
    flex-direction: column; /* deixa o texto em coluna*/
    
}



.box-fone h4{
    font-size: 15px;   /* tamanho da fonte */
    color: #FFF;
 
  }


.box-fone p{   /*fonte */
   padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #0000FF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
    
}

.card-suporte{
  
border-radius: 10px;
width: 250px;
height: 350px;
background-color: #0000FF;
 box-shadow: 25px 10px 8px #000000;

}




/***********FIM SUPOTE***************************/











section.fone{  /* <section class="especialidades"> */
    padding: 40px 0;  /* alturas das bolsas*/
}







section.fone h2.title{ /*  <h2 class="title">CARREGADOR PARA CELULAR</h2> */
   margin: 40px; /* altura das title*/
   font-size: 30px;
    text-align: center;
   color: #FFF; /* cor da fonte*/
     text-align: center;
    /*width: fit-content;  /* alargura vai se adapta ao conteudo*/
    padding: 0px 10px;  /* almenta borda*/
    border-radius: 20px ; /* formato redondo*/
    background: #363636; 
     border-bottom: 5px solid #0000CD; /* deixa botão em 3D  e com borda*/ 
}


.box-fone{
   margin:30px 0;
    padding: 0 130px;  /* espaçamendo dos itens pros lados*/
    flex-direction: column; /* deixa o texto em coluna*/
    
}



.box-fone h4{
    font-size: 15px;   /* tamanho da fonte */
    color: #FFF;
 
  }


.box-fone p{   /*fonte */
   padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #0000FF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
    
}

.card-cartão{
  
border-radius: 10px;
width: 250px;
height: 310px;
background-color: #0000FF;
 box-shadow: 25px 10px 8px #000000;

}




/***********************************FONE INICIO******************************/

section.fone{  /* <section class="especialidades"> */
    padding: 40px 0;
}

section.fone h2.title{ /*  <h2 class="title">CARREGADOR PARA CELULAR</h2> */
   font-size: 30px;
    text-align: center;
   color: #FFF; /* cor da fonte*/
    padding: 0px 10px;  /* almenta borda*/
    border-radius: 20px ; /* formato redondo*/
    background: #363636; 
     border-bottom: 5px solid #0000CD; /* deixa botão em 3D  e com borda*/ 
}

.box-fone{
    margin:30px 0;
    padding: 0 130px;  /* espaçamendo dos itens pros lados*/
    flex-direction: column; /* deixa o texto em coluna*/
}

.box-fone h4{
    font-size: 15px;   /* tamanho da fonte */
    color: #FFF;

  }

.box-fone p{
   
    padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #0000FF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
}


.card-fone{
  
border-radius: 10px;
width: 250px;
height: 370px;
background-color: #0000FF;
 box-shadow: 25px 10px 8px #000000;

}
/********************************CARREGADOR FIM**********************************




/************INICIO MOCHILA***********************/

section.fone{  /* <section class="especialidades"> */
    padding: 40px 0;  /* alturas das bolsas*/
}


section.fone h2.title{ /*  <h2 class="title">CARREGADOR PARA CELULAR</h2> */
   margin: 40px; /* altura das title*/
   font-size: 30px;
    text-align: center;
   color: #FFF; /* cor da fonte*/
     text-align: center;
    /*width: fit-content;  /* alargura vai se adapta ao conteudo*/
    padding: 0px 10px;  /* almenta borda*/
    border-radius: 20px ; /* formato redondo*/
    background: #363636; 
     border-bottom: 5px solid #0000CD; /* deixa botão em 3D  e com borda*/ 
}


.box-fone{
   margin:30px 0;
    padding: 0 130px;  /* espaçamendo dos itens pros lados*/
    flex-direction: column; /* deixa o texto em coluna*/
    
}



.box-fone h4{
    font-size: 15px;   /* tamanho da fonte */
    color: #FFF;
 
  }


.box-fone p{   /*fonte */
   padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #0000FF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
    
}

.card-mochila{
  
border-radius: 10px;
width: 250px;
height: 350px;
background-color: #0000FF;
 box-shadow: 25px 10px 8px #000000;

}




/***********FIM MOCHILA***************************/

